.containerBg{
    /* background: radial-gradient(#20628f, #000d20); */
    background: linear-gradient(#000d20, #20628f);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.containerBg li{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(150, 218, 255);
    background: radial-gradient(circle, rgb(129, 211, 255) 0%, rgba(2,17,84,0) 45%);
    opacity: .8;
    animation: animate 20s linear infinite;
    top: -150px;
}

.containerBg li:nth-child(1){
    left: 15%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.containerBg li:nth-child(2){
    left: 100%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.containerBg li:nth-child(3){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.containerBg li:nth-child(4){
    left: 5%;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
    animation-duration: 20s;
}

.containerBg li:nth-child(5){
    left: 60%;
    width: 20px;
    height: 20px;
    animation-delay: 13s;
    animation-duration: 35s;
}

.containerBg li:nth-child(6){
    left: 70%;
    width: 10px;
    height: 10px;
    animation-delay: 3s;
    animation-duration: 40s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}

.containerBg li:nth-child(7){
    left: 27%;
    width: 10px;
    height: 10px;
    animation-delay: 60s;
    animation-duration: 40s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}

.containerBg li:nth-child(8){
    left: 90%;
    width: 10px;
    height: 10px;
    animation-delay: 22s;
    animation-duration: 40s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}

.containerBg li:nth-child(9){
    left: 15%;
    width: 10px;
    height: 10px;
    animation-delay: 10s;
    animation-duration: 40s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}

.containerBg li:nth-child(10){
    left: 65%;
    width: 10px;
    height: 10px;
    animation-delay: 4s;
    animation-duration: 0s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}

.containerBg li:nth-child(11){
    left: 45%;
    width: 10px;
    height: 10px;
    animation-delay: 45s;
    animation-duration: 40s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}

.containerBg li:nth-child(12){
    left: 95%;
    width: 10px;
    height: 10px;
    animation-delay: 7s;
    animation-duration: 40s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}

.containerBg li:nth-child(13){
    left: 55%;
    width: 10px;
    height: 10px;
    animation-delay: 70s;
    animation-duration: 40s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}

.containerBg li:nth-child(14){
    left: 7%;
    width: 10px;
    height: 10px;
    animation-delay: 11s;
    animation-duration: 40s;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(2,17,84,0) 56%);
    top: -12px;
}


@keyframes animate {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(800px);
        opacity: 0;
    }
}