/* initializing every element from zero to customise them */
*{
  margin: 0;
  padding: 0;
/*adding this property that helps to control better the sizes, the space and to avoid too many overlaps */
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face{
  font-family: "destructobeam";
  src: url("./assets/destructobeam.ttf");
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "destructobeam";
}

.mainContainer{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.mainContainer .bodyContainer{
  width: 1000px;
  padding-top: 110px;
}

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .mainContainer .bodyContainer{
      padding-top: 50px;
      width: 300px;
      justify-content: center;
    } 
}

/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    body .mainContainer .bodyContainer{
      padding-top: 45px;
      width: 250px;
      justify-content: center;
    } 
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
  .mainContainer .bodyContainer{
    width: 700px;
    padding-top: 110px;
  }
}
/*fin movil*/